<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets filter='cssrewrite'
    '%kernel.root_dir%/../web/css/bootstrap.css'
    '%kernel.root_dir%/../web/css/font-awesome.css'
    '%kernel.root_dir%/../web/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
</head>
<body>
{% block body %}
    <section class="for-full-back color-white " id="contact">
        <div class="row">
            <div class="container">
                {% block side %}
                {% endblock %}

                <div class="col-md-9 ">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
