{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <h1>Confirmation</h1>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

    <hr/>
    <a href="{{ path('contacts') }}">Go to home page</a>
{% endblock content %}
