{% extends "base.html.twig" %}

{% block side %}
{% endblock %}


{% block content %}
    <h1>Registration</h1>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
